<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="base_width" value="0.10"/>
    <xacro:property name="base_length" value="0.40"/>
    <xacro:property name="base_height" value="0.14"/>

    <xacro:property name="hip_radius" value="0.046"/>
    <xacro:property name="hip_length" value="0.04"/>

    <xacro:property name="thigh_width" value="0.0245"/>
    <xacro:property name="thigh_height" value="0.034"/>

    <xacro:property name="calf_width" value="0.016"/>
    <xacro:property name="calf_height" value="0.016"/>

    <xacro:property name="foot_radius" value="0.02"/>
    
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    <!-- kinematic value -->
    <xacro:property name="thigh_offset" value="0.0666"/> <!--hip length-->
    <xacro:property name="thigh_length" value="0.21"/>
    <xacro:property name="thigh_offset_y" value="0.0485"/>

    <xacro:property name="calf_length" value="0.215"/>

    <!-- leg offset from base center value -->
    <xacro:property name ="hip_offset" value = "0.12" />
    <xacro:property name="leg_offset_x" value="0.1941"/>


    <!-- joint limits -->
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.0"/>
    <xacro:property name="hip_position_max" value="1.0472"/>
    <xacro:property name="hip_position_min" value="-1.0472"/>
    <xacro:property name="hip_velocity_max" value="30.1"/>
    <xacro:property name="hip_torque_max" value="23.7"/>

    <xacro:property name="thigh_position_max" value="3.4907"/>
    <xacro:property name="thigh_position_min" value="-1.5708"/>
    <xacro:property name="thigh_velocity_max" value="30.1"/>
    <xacro:property name="thigh_torque_max" value="23.7"/>

    <xacro:property name="calf_position_max" value="-0.83776"/>
    <xacro:property name="calf_position_min" value="-2.7227"/>
    <xacro:property name="calf_velocity_max" value="20.07"/>
    <xacro:property name="calf_torque_max" value="35.55"/>

    <xacro:property name="hip_torque_min" value="-23.7"/>
    <xacro:property name="hip_torque_max" value="23.7"/>

    <!-- dynamics inertial value -->
    <!-- base -->
    <xacro:property name="base_mass" value="11.33"/>
    <xacro:property name="base_com_x" value="0.034263"/>
    <xacro:property name="base_com_y" value="0.0010811"/>
    <xacro:property name="base_com_z" value="0.0067632"/>

    <xacro:property name="base_ixx" value="0.078592"/>
    <xacro:property name="base_ixy" value="0.00042233"/>
    <xacro:property name="base_ixz" value="0.0030473"/>
    <xacro:property name="base_iyy" value="0.214010"/>
    <xacro:property name="base_iyz" value="1.7E-05"/>
    <xacro:property name="base_izz" value="0.23505"/>


    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="1.0168"/>
    <xacro:property name="hip_com_x" value="-0.0026063"/>
    <xacro:property name="hip_com_y" value="0.013225"/>
    <xacro:property name="hip_com_z" value="0.00014"/>
    <xacro:property name="hip_ixx" value="0.00102478"/>
    <xacro:property name="hip_ixy" value="-4.22E-06"/>
    <xacro:property name="hip_ixz" value="-6.32E-06"/>
    <xacro:property name="hip_iyy" value="0.00147398"/>
    <xacro:property name="hip_iyz" value="-9.16E-06"/>
    <xacro:property name="hip_izz" value="0.00112511"/>

    <!-- thigh (left front) -->
    <xacro:property name="thigh_mass" value="1.4441"/>
    <xacro:property name="thigh_com_x" value="-0.00160904"/>
    <xacro:property name="thigh_com_y" value="0.021686"/>
    <xacro:property name="thigh_com_z" value="-0.02087162"/>
    <xacro:property name="thigh_ixx" value="0.00638080"/>
    <xacro:property name="thigh_ixy" value="5.894E-05"/>
    <xacro:property name="thigh_ixz" value="-0.00021424"/>
    <xacro:property name="thigh_iyy" value="0.00642132"/>
    <xacro:property name="thigh_iyz" value="-0.0008594"/>
    <xacro:property name="thigh_izz" value="0.00179976"/>

    <!-- calf -->
    <xacro:property name="calf_mass" value="0.21754"/>
    <xacro:property name="calf_com_x" value="0.00626154"/>
    <xacro:property name="calf_com_y" value="0.0004"/>
    <xacro:property name="calf_com_z" value="-0.116"/>
    <xacro:property name="calf_ixx" value="0.00159908"/>
    <xacro:property name="calf_ixy" value="-8.0E-8"/>
    <xacro:property name="calf_ixz" value="2.709E-05"/>
    <xacro:property name="calf_iyy" value="0.00163205"/>
    <xacro:property name="calf_iyz" value="5.55E-06"/>
    <xacro:property name="calf_izz" value="5.678E-05"/>


    <!-- foot -->
    <xacro:property name="foot_mass" value="0.06"/>

</robot>
