<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="radar">
        <xacro:include filename="$(find xg_description)/xacro/livox_mid360.xacro"/>
        <xacro:Livox_Mid360 name="livox"/>

        <joint name="radar_joint" type="fixed">
                <origin xyz="0.2841 0 -0.097002" rpy="0 2.792527 0"/>
                <parent link="base"/>
                <child link="radar_link"/>
                <axis xyz="0 0 0"/>
        </joint>

        <link name="radar_link">
                <inertial>
                        <origin xyz="-0.0059263 3.3526E-09 0.016282" rpy="0 0 0"/>
                        <mass value="0.12676"/>
                        <inertia ixx="5.5595E-05" ixy="6.4958E-11" ixz="7.6324E-06" iyy="5.8372E-05" iyz="-4.3556E-10" izz="3.7402E-05"/>
                </inertial>
                <visual>
                        <origin xyz="0 0 0" rpy="0 0 0"/>
                        <geometry>
                                <box size="0 0 0"/>
                        </geometry>
                        <material name="">
                                <color rgba="0.79608 0.82353 0.93725 1"/>
                        </material>
                </visual>
        </link>

        <joint name="radar_to_livox_base_joint" type="fixed">
                <origin xyz="0.0 0 0" rpy="0 0 0"/>
                <parent link="radar_link"/>
                <child link="livox_base"/>
        </joint>

</robot>
